* {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden; }

.container__intro-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }

video#fullscreen__bg-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../../files/img/sunday_service_poster_image.jpg") no-repeat center center;
  background-size: cover; }

.intro {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fafafa;
  border: 5px solid #fafafa; }
  .intro p {
    font-size: 16px;
    line-height: 20px;
    color: #fafafa; }
  .intro h1 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase; }

a {
  text-decoration: none;
  color: #fafafa; }
  a:hover {
    color: #e8e8e8;
    border-bottom: 1px dotted #fafafa; }
  a:visited {
    color: #fafafa; }

@media screen and (max-device-width: 800px) {
  .container__intro-text {
    position: absolute;
    background: url("../../files/img/sunday_service_poster_image.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    .container__intro-text:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background: rgba(0, 0, 0, 0.1); }
  #fullscreen__bg-video {
    display: none; }
  .intro {
    width: 100%;
    max-width: 300px;
    margin: 0 auto; }
    .intro h1 {
      font-size: 18px; } }
